{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container-fluid profile-container">
    <div class="row">
        <div class="col-md-8 mx-auto profile-content">
            <!-- User Details Section -->
            <div class="accordion" id="profileAccordion">
                <div class="profile-item">
                    <h2 class="accordion-header" id="userDetailsHeading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#userDetailsCollapse" aria-expanded="true"
                            aria-controls="userDetailsCollapse">
                            Personal Details
                        </button>
                    </h2>
                    <div id="userDetailsCollapse" class="accordion-collapse collapse show"
                        aria-labelledby="userDetailsHeading" data-bs-parent="#profileAccordion">
                        <div class="accordion-body">
                            <p>Username: {{ user.username }}</p>
                            <p>Email: {{ user.email }}</p>
                        </div>
                    </div>
                </div>
                <!-- User Bookings Section -->
                <div class="profile-item">
                    <h2 class="accordion-header" id="userBookingsHeading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#userBookingsCollapse" aria-expanded="false"
                            aria-controls="userBookingsCollapse">
                            Bookings
                        </button>
                    </h2>
                    <div id="userBookingsCollapse" class="accordion-collapse collapse"
                        aria-labelledby="userBookingsHeading" data-bs-parent="#profileAccordion">
                        <div class="accordion-body">
                            <ul>
                                {% for booking in user_bookings %}
                                <li>
                                    <p>Cottage Name: {{ booking.cottage.name }}</p>
                                    <p>Check-in: {{ booking.check_in_date }}</p>
                                    <p>Check-out: {{ booking.check_out_date }}</p>
                            
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Logout Section -->
                <div class="profile-item">
                    <h2 class="accordion-header" id="logoutHeading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#logoutCollapse" aria-expanded="false" aria-controls="logoutCollapse">
                            Sign out
                        </button>
                    </h2>
                    <div id="logoutCollapse" class="accordion-collapse collapse" aria-labelledby="logoutHeading"
                        data-bs-parent="#profileAccordion">
                        <div class="accordion-body">
                            <div class="text-center">
                                <h3>{% trans "Sign Out" %}</h3>
                            
                                <p>{% trans 'Are you sure you want to sign out?' %}</p>
                            
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                    {% endif %}
                                    <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <h1>Your Profile</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>User Profile</h2>
            <h3>User Details</h3>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>


            <h3>Your Bookings</h3>
            <ul>
                {% for booking in user_bookings %}
                <li>
                    <p>Cottage Name: {{ booking.cottage.name }}</p>
                    <p>Check-in: {{ booking.check_in_date }}</p>
                    <p>Check-out: {{ booking.check_out_date }}</p>

                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid logout-container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto text-center d-flex justify-content-center align-items-center">
            <div class=" logout-content text-center">
                <h3>{% trans "Sign Out" %}</h3>

                <p>{% trans 'Are you sure you want to sign out?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid amenities-container">
    <div class="row">
        <div class="col-12 amenities-content">
            <h2>Amenities</h2>
            <div id="amenitiesAccordion">
                {% for category, amenities in amenities_by_category.items %}
                <div class="card">
                    <div class="card-header" id="{{ category|slugify }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse{{ category|slugify }}">
                                {{ category }}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{ category|slugify }}" class="collapse" aria-labelledby="{{ category|slugify }}"
                        data-parent="#amenitiesAccordion">
                        <div class="card-body">
                            <ul>
                                {% for amenity in amenities %}
                                <li>
                                    <strong>{{ amenity.name }}</strong><br>
                                    {{ amenity.description }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> -->

{% endblock %}