@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Navigation */

.navigation {
    margin: 0;
    background-color: #8e9d61;
    position: fixed;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;

}


.nav-item {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.nav-link, .navbar-brand {
    color: #f5f4f4;
}

.navbar-brand {
    font-family: Sail, sans-serif;
    font-weight: 100;
}


/* Footer */
footer {
    background-color: #8e9d61;
    padding: 50px 0;
    color: #f5f4f4;
}



/* index.html **************/

/* Hero Image */
.hero-image {
    width: 100%;
    height: 95vh;

    background: url("../img/peak-district.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


.jumbotron {
    background-color: #8e9d61;
    border-color: #f5f4f4;
    color: #f5f4f4;
    font-family: Sail, sans-serif
}

/* Welcome Message */

.welcome-message {
    margin: 50px auto;
    padding: 50px auto;
    background-color: #8e9d61;

}

.welcome-message-head {
    margin: 50px auto;
    padding: 30px;
    background-color: #f5f4f4;
    border-radius: 5%;
}

.welcome-message-text {
    margin-bottom: 30px;
    padding: 30px;
    background-color: #f5f4f4;
    border-radius: 5%;
    font-size: 1.2em;
}




/* Site Links */

.site-links-container {
    margin: 50px auto;
    padding: 50px 15px;
    background-color:#8e9d61;
    color: #f0f0f0;
}

.site-link {
    height: 200px;
    background-color: #f0f0f0;
    border: 3px solid black;
 
}


.site-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}


.site-link button {
    padding: 10px 20px;
    background-color: #f5f4f4;
    color: #242526;
    border: solid 1px #242526;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.site-link button:hover {
    background-color: #8e9d61;
    color: #f5f4f4;
}

#site-contact-link {
    background-image: url('../img/peak-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#site-cottages-link {
    background-image: url('../img/generic-cottage-1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#site-more-info-link {
    background-image: url('../img/peak-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* Reviews Section */
.reviews-container {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    background: url("../img/peak-district.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.review-title {
    display: flex;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    justify-content: center;
}

.review-title h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 5%;
    text-align: center;

}

.review-title h3, .card-body {
    background-color: #f5f4f4;
    color: #242526;
    border: solid 1px #242526;
}



/* Cottages pages ******************/

/* cottage head and intro */


.cottage-intro h1 {
    font-family: Sail, sans-serif
}

.cottage-intro p {
    margin-top: 30px;
    font-size: 1.2em;
}

#homestead-title {
    height: 50vh;
    background-image: url(../img/house_sign_1_1029x700.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#marketview-title {
    height: 50vh;
    background-image: url(../img/house_sign_1_1029x700.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#cottage-intro-container {
    margin-top: 80px;
    padding: 20px;
    background-color: rgba(142, 157, 97, 0.8);
    color: #f5f4f4;
    border: solid 1px black;
    border-radius: 5%;
}

/* Cottage Image Carousel */
.image-gallery {
    padding: 30px;
    background-color: #ddddda;

}

.carousel-inner {
    margin: auto;
    max-height: 700px;
}

.carousel-item {
    width: fit-content;
    height: auto;
   
}


.cottage-intro {
    padding: 100px;
}

/* Booking Form */
.cottage-booking-container {
    background-color: #8e9d61;
    color: #f5f4f4;
}

/* Description sections */
.cottage-description {
    background-color: #ddddda;
    padding: 50px;
    font-size: 1.1em;

}

/* Amenities section */
.amenities-container {
    padding: 50px;
    background-color: #8e9d61;
    color: #f5f4f4;
    font-family: Sail, sans-serif;
}

.amenities-container h2 {
    font-family: Sail, sans-serif;
    font-size: 2.2em;
    font-weight: 100;
}

.amenities-container .card-header {
    background-color: #ddddda;


}

.amenities-container button{
    font-size: 2rem;
    color: #242526;
}

.amenities-container .card-body {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

/* Location */

.map-container {
    padding-bottom: 100px;
}

#map {
    width: 90%;
    height: 700px;
    margin: 50px auto;
}



/* Message Success */

#message-success-container {
    padding-top: 150px;
}


/* Sign Up Page */

.sign-up-container {
    margin-top: 150px;
}