{% extends 'base.html' %}

{% block content %}

<div class="container-fluid booking-confirmation-container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 mx-auto text-center booking-confirmation-section">
            <h1>Booking Confirmation</h1>
            <p>Your booking has been successfully confirmed!</p>

            <h2>Booking Details</h2>
            <p>Cottage: {{ booking.cottage.name }}</p>
            <p>Check-in Date: {{ booking.check_in_date }}</p>
            <p>Check-out Date: {{ booking.check_out_date }}</p>


            <button class="btn btn-primary">
                <a href="{% url 'index' %}">Home</a>
            </button>
        </div>
    </div>
</div>

{% endblock %}