{% extends 'base.html' %}

{% block content %}

<div class="container-fluid booking-form-container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto booking-section">
            <div class="col-12 mx-auto text-center booking-form-head">
                <h1>Book a Cottage</h1>
                <p>Please enter the following information to book a stay in {{ cottage.id }}</p>
                <p>Prices to stay at {{ cottage.id }} start at <strong>£{{ cottage.price_per_night }}</strong></p>
            </div>
            <div class="col-12 d-flex align-items-center booking-form-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Book Now</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}