{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>Contact Us</h2>
    <p>If you have any questions or queries regaring anything about out cottages, please do get in touch and we would be more than happy to help<p>
    <div class="row">
        <div class="col-12">
            <h3>Contact Details</h3>
            <p>Host Name: </p>
            <p>Host Telephone Number: </p>
            <p>Host Email Address: </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Send Us a Message</h3>
            <p>Alternatively, you can send us a message below</p>
        </div>
        <div class="col-12">
            <form method="post" id="contact-message-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}