{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <h2>Contact Us</h2>
    <p>If you have any questions or queries regaring anything about out cottages, please do get in touch and we would be more than happy to help<p>
    <div class="row">
        <div class="col-12">
            <h3>Contact Details</h3>
            <p>Host Name: </p>
            <p>Host Telephone Number: </p>
            <p>Host Email Address: </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Send Us a Message</h3>
            <p>Alternatively, you can send us a message below</p>
        </div>
        <div class="col-12">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp-mail.outlook.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''