{% extends "base.html" %}

{% block content %}

<!-- Homestead Title -->

<div class="container-fluid" id="homestead-title">
    <div class="row">
        <div class="col-6 cottage-intro text-center mx-auto">
            <div id="cottage-intro-container">
                <h1>Homestead</h1>
                <p>"Lovely cottage which has everything you need, in the most beautiful of surroundings."</p>
            </div>
        </div>
    </div>
</div>

<!-- Homestead Gallery -->
<div class="container-fluid image-gallery">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="mx-auto d-block" src="{{ image.image.url }}" alt="{{ image.title }}">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Booking and Price -->

<div class="container-fluid cottage-booking-container">
    <div class="row">
        <div class="col-12">
            <h1>Booking</h1>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-6">
            <div class="md-form md-outline input-with-post-icon">
                <input placeholder="Select check-in date" type="date" id="check-in-date"
                    class="form-control datepicker">
                <label for="check-in-date">Check-In Date</label>
            </div>
        </div>
        <div class="col-6">
            <div class="md-form md-outline input-with-post-icon">
                <input placeholder="Select check-out date" type="date" id="check-out-date"
                    class="form-control datepicker">
                <label for="check-out-date">Check-Out Date</label>
            </div>
        </div>
    </div>
</div> -->


<!-- <form method="post">
    {% csrf_token %}
    {{ booking_form.as_p }}
    <button type="submit">Submit Booking</button>
</form> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Book a Stay in Homestead</h2>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ booking_form.cottage }}
                </div>
                <div>
                    {{ booking_form.check_in_date }}
                </div>
                <button type="submit">Submit Booking</button>
            </form>
        </div>
    </div>
</div> -->

<!-- Description -->
<div class="container-fluid cottage-description">
    <div class="row">
        <div class="col-12 col-md-10 colo-lg-10 mx-auto">
            <p class="text-center">
                {{ description }}
            </p>
            <p>Number of Bedrooms: {{ no_of_bedrooms }}</p>
            <p>Number of Bathrooms: {{ no_of_bathrooms }}</p>
        </div>
    </div>
</div>



<!-- Amenitites -->

<div class="container-fluid amenities-container">
    <h2>Amenities</h2>
    <div id="amenitiesAccordion">
        {% for category, amenities in amenities_by_category.items %}
        <div class="card">
            <div class="card-header" id="{{ category|slugify }}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapse{{ category|slugify }}">
                        {{ category }}
                    </button>
                </h2>
            </div>
            <div id="collapse{{ category|slugify }}" class="collapse" aria-labelledby="{{ category|slugify }}"
                data-parent="#amenitiesAccordion">
                <div class="card-body">
                    <ul>
                        {% for amenity in amenities %}
                        <li>
                            <strong>{{ amenity.name }}</strong><br>
                            {{ amenity.description }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!-- Location -->

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <h2>Location</h2>
                <p>{{ homestead_cottage.location }}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg 4">
                <h2>Directions</h2>
                <div>
                    <h3>From Buxton: </h3>
                    <p>From Ashbourne Road/A515, continue for 2.2 Miles. Turn right on to Buxton Road and Continue to follow
                        B5053 for 3.3
                        Miles. Upon arriving in Longnor, turn left onto the High Street. Travel along the High Street for
                        0.2 Miles and the
                        last road on the left will be Dove Ridge. Follow Dove Ridge all the way to the end and you will
                        arrive at Homestead
                        Cottage. </p>
                </div>
                <div>
                    <h3>From Leek: </h3>
                    <p>From Buxton Road/A53, continue for 5.3 Miles. Take the first left just after the Winking Man Pub on
                        you rleft hand
                        side and continue on. After 4.4 Miles, you will arivve in Longnor onto the High Street. Continue on
                        through the
                        village and take the last road on the left, Dove Ridge. Follow Dove Ridge all the way to the end and
                        you will arrive
                        at Homestead Cottage.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container map-container">
        <div class="row">
            <div class="col-12" id="map">
    
            </div>
        </div>
    </div>
</section>

<!-- General Details and Rules -->


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Things to Know</h2>
            <div id="thingsToKnowAccordion">
                {% for category, things in things_to_know_by_category.items %}
                <div class="card">
                    <div class="card-header" id="{{ category|slugify }}">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse{{ category|slugify }}">
                                {{ category }}
                            </button>
                        </h3>
                    </div>
                    <div id="collapse{{ category|slugify }}" class="collapse" aria-labelledby="{{ category|slugify }}"
                        data-parent="#thingsToKnowAccordion">
                        <div class="card-body">
                            <ul>
                                {% for thing in things %}
                                <li>{{ thing.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




<!-- script -->

<!-- Location/map script -->
<script>
    function initMap() {
        let homestead = {lat: 53.18243896144257, lng: -1.8658135510900449};
        let map = new google.maps.Map(
            document.getElementById('map'),
            {
                zoom: 15,
                center: homestead
            }
        );
        let marker = new google.maps.Marker({position: homestead, map: map})
    }
</script>
<!-- <script async src="https://maps.googleapis.com/maps/api/js?v=weekly
        &key={{GOOGLEMAPS_API_KEY}}&callback=initMap">
        </script> -->

<script>
    $('.datepicker').datepicker({
            inline: true,
            format: 'yyyy-mm-dd',
            autoclose: true
        });
</script>


{% endblock %}
