{% extends "base.html" %}
{% block content %}

<body>
    <!-- Hero Image -->
    <div class="container-fluid hero-image">
        <!-- <div class="opaque-overlay">&nbsp;</div> -->
        <div class="row">
            <div class="col-12 hero-image-text">
                <section class="jumbotron text-center">
                    <h1 class="">Hill Cottages</h1>
                    <hr class="block-divider">
                    <strong>Your Perfect Stay in the Peak District</strong>
                </section>
            </div>
        </div>
        </div>
    </div>

    <!-- Site Links -->
    <div class="site-links-container">
        <section class="site-links">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="site-contact-link text-center">
                        <button>Contact</button>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="site-cottages-link text-center">
                        <button>Cottages</button>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="site-more-info-link text-center">
                        <button>More Information</button>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!-- About Section -->
    <div class="container">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>


    <!-- Reviews section -->
    <div class="container">
        <div class="row">
            <div class="col-12">
    
            </div>
        </div>
    </div>

</body>

</html>








{% endblock %}