{% extends "base.html" %} {% block content %}

<!-- Marketview Title -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 cottage-intro text-center">
            <h1>Marketview</h1>
            <p>"Beautiful and spotlessly clean cottage in a picturesque location."</p>
        </div>
    </div>
</div>

<!-- Marketview Gallery -->
<div class="container-fluid image-gallery">
    <div class="row">
        <div class="col-12 mx-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/img/generic-cottage-1.jpeg" class="d-block w-100 img-fluid" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/peak-2.jpg" class="d-block w-100 img-fluid" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/peak-3.jpg" class="d-block w-100 img-fluid" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Booking and Price -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Book a Stay in Marketview</h2>
        </div>
    </div>
</div>

<!-- Description -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Description</h2>
            <p>
                {{ description }}
            </p>
        </div>
    </div>
</div>



<!-- Amenitites -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Amenities</h2>
            <ul>
                {% for amenity in amenities %}
                <li>
                    <strong>{{ amenity.name }}</strong>
                    <p>{{ amenity.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Location -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
            <h2>Location</h2>
            <p>Longnor, England, United Kingdom
            The charming Peak District village of Longnor is situated in beautiful countryside on the Staffordshire
            Moorlands/Derbyshire border, with the River Dove to the east and the River Manifold to the west, making an excellent
            touring centre. The village boasts a cobbled market square, a shop, pub, Post Office, café tea room, fish & chip shop
            and a beautiful church. Chatsworth House, Haddon Hall, the Spa town of Buxton with its famous Opera House, the
            attractive market town of Bakewell and Alton Towers theme park are all within easy reach.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 col-lg 4">
            <h2>Directions</h2>
            <div>
                <h3>From Buxton: </h3>
                <p>From Ashbourne Road/A515, continue for 2.2 Miles. Turn right on to Buxton Road and Continue to follow B5053 for 3.3
                    Miles. Upon arriving in Longnor, turn left onto the High Street. Travel along the High Street for 0.2 Miles and the
                    last road on the left will be Dove Ridge. Follow Dove Ridge all the way to the end and you will arrive at Homestead
                    Cottage. </p>
            </div>
            <div>
                <h3>From Leek: </h3>
                <p>From Buxton Road/A53, continue for 5.3 Miles. Take the first left just after the Winking Man Pub on you rleft hand
                    side and continue on. After 4.4 Miles, you will arivve in Longnor onto the High Street. Continue on through the
                    village and take the last road on the left, Dove Ridge. Follow Dove Ridge all the way to the end and you will arrive
                    at Homestead Cottage.</p>
            </div>
        </div>
    </div>
</div>
<div class="container map-container">
    <div class="row">
        <div class="col-12" id="map">
            
        </div>
    </div>
</div>

<!-- General Details and Rules -->

<div class="container">
    <div class="row">
        <div class="col-12 things_to_know">
            <h2>Things to Know</h2>
            <p>General Rules:</p>
            <ul>
                <li>Check-in after 16:00</li>
                <li>Checkout before 10:00</li>
                <li>Self check-in with lockbox</li>
                <li>During your stay 4 guests maximum</li>
                <li>No pets</li>
                <li>No parties or events</li>
                <li>No smoking</li>
            </ul>
            <p>Additional Rules:</p>
            <ul>
                <li>Infants and Toddlers are welcome, however please check the amenities section for more information to see if Homestead is
                suitable for you.</li>
            </ul>
            <p>During your stay at the cottage could you please:</p>
            <ul>
                <li>Handle the pull cord blinds with extra care.</li>
                <li>Inform us of any damages and/or breakages in a reasonably timely manner.</li>
                <li>Don't smoke or light candles in the property</li>
                <li>Don’t wear shoes inside the cottage or dye hair.</li>
                <li>Don’t hang clothes or cover the electric/storage heaters in the property.</li>
            </ul>
            <p>Before Your Leave:</p>
            <ul>
                <li>On departure please strip the bedding off the beds.</li>
                <li>Empty fridge, freezer and all bins.</li>
                <li>Clean the Wood Burning Stove out if used.</li>
                <li>Switch off all lights, close all windows, lock the doors and leave the front door key in the outdoor key safe closed and
                locked.</li>
            </ul>
        </div>
    </div>
</div>



<!-- script -->

<!-- Location/map script -->
<script>
    function initMap() {
        let marketview = {lat: 53.18243896144257, lng: -1.8658135510900449};
        let map = new google.maps.Map(
            document.getElementById('map'),
            {
                zoom: 15,
                center: marketview
            }
        );
        let marker = new google.maps.Marker({position: marketview, map: map})
    }
</script>
    <!-- <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a); })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)); })
            ({ key: "AIzaSyCwHKmjBwi6DvEYld2g_xW4uPC9W4ZTfsE", v: "beta" });</script> -->
<script async src="https://maps.googleapis.com/maps/api/js?v=weekly
        &key=GOOGLEMAPS_API_KEY&callback=initMap">
        </script>


{% endblock %}
