{% extends "base.html" %} {% block content %}

<div class="container-fluid" id="marketview-title">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 cottage-intro text-center mx-auto">
            <div class="cottage-intro-container">
                <h1>Marketview</h1>
                <p>"Beautiful and spotlessly clean cottage in a picturesque location."</p>
            </div>
        </div>
    </div>
</div>


<!-- Image Gallery Button -->
<div class="container-fluid cottage-gallery-container">
    <div class="row">
        <div class="col-10 col-md-10 col-lg-10 text-center mx-auto cottage-gallery">
            <h3>Images of <span>Marketview</span></h3>
            <p>Take a look at where you are staying...</p>
            <div class="cottage-gallery-image">
                <img class="img-fluid" src="../static/img/exterior_4.png" alt="Open Image Gallery"
                    data-toggle="modal" data-target="#imageGallery" style="cursor: pointer;">
            </div>
        </div>
    </div>
</div>


<!-- Image Gallery Modal -->
<div class="modal fade" id="imageGallery" tabindex="-1" role="dialog" aria-labelledby="imageGalleryLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageGalleryLabel">Homestead Images</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.title }}">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Description -->
<div class="container-fluid cottage-description-container">
    <div class="row">
        <div class="col-12 col-md-10 colo-lg-10 mx-auto cottage-description-text">
            <p class="text-left">
                {{ description }}
            </p>
            <p>Number of Bedrooms: {{ no_of_bedrooms }}</p>
            <p>Number of Bathrooms: {{ no_of_bathrooms }}</p>
        </div>
    </div>
</div>

<!-- Booking and Price -->

<div class="container-fluid cottage-booking-container">
    <div class="row">
        <div class="col-12">
            <div class="col-12 col-md-10 col-lg-10 mx-auto text-center cottage-booking-head">
                <h1>Book a Stay In Marketview</h1>
            </div>
            <div class="col-12 col-md-8 col-lg-8 mx-auto text-center cottage-booking-content">
                <p>To book a stay in Marketview, please click the button below to select available dates</p>
                <button>
                    <a href="{% url 'book_cottage' %}?cottage_id={{ cottage.id }}">Book This Cottage</a>
                </button>
            </div>
        </div>
    </div>
</div>




<!-- Amenitites -->

<div class="container-fluid amenities-container">
    <div class="row">
        <div class="col-12 amenities-content">
            <h2>Amenities</h2>
            <div id="amenitiesAccordion">
                {% for category, amenities in amenities_by_category.items %}
                <div class="card">
                    <div class="card-header" id="{{ category|slugify }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse{{ category|slugify }}">
                                {{ category }}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{ category|slugify }}" class="collapse" aria-labelledby="{{ category|slugify }}"
                        data-parent="#amenitiesAccordion">
                        <div class="card-body">
                            <ul>
                                {% for amenity in amenities %}
                                <li>
                                    <strong>{{ amenity.name }}</strong><br>
                                    {{ amenity.description }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- Location -->

<div class="container-fluid location-container">
    <div class="row">
        <div class="col-12 mx-auto text-center location-content">
            <h2>Location</h2>
            <p>{{ marketview_cottage.location }}</p>
        </div>
    </div>
</div>

<!-- Directions -->
<div class="container-fluid directions-container">
    <div class="row">
        <div class="col-12 directions-content">
            <h2>Directions</h2>
            <div>
                <h3>From Buxton: </h3>
                <p>
                    From Ashbourne Road/A515, continue for 2.2 Miles. Turn right on to Buxton Road and Continue to follow
                    B5053 for 3.3
                    Miles. Upon arriving in Longnor, continue on to the village square and at the crossroads, turn right onto Leek
                    Road.
                    Marketview Cotttage is approximately 200ft on the right with the green door.
                </p>
            </div>
            <div>
                <h3>From Leek: </h3>
                <p>
                    From Buxton Road/A53, continue for 5.3 Miles. Take the first left just after the Winking Man Pub on
                    you rleft hand
                    side and continue on. After 4.4 Miles, you will arivve in Longnor and Marketview Cottage is situated on the left
                    hand side with the green door just after the junction to Gauledge Lane.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Map -->
<div class="container-fluid map-container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10 map-content" id="map">

        </div>
    </div>
</div>


<!-- General Details and Rules -->

<div class="container-fluid things-to-know-container">
    <div class="row">
        <div class="col-12 things-to-know-content">
            <h2>Things to Know</h2>
            <div id="thingsToKnowAccordion">
                {% for category, things in things_to_know_by_category.items %}
                <div class="card">
                    <div class="card-header" id="{{ category|slugify }}">
                        <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse{{ category|slugify }}">
                                {{ category }}
                            </button>
                        </h3>
                    </div>
                    <div id="collapse{{ category|slugify }}" class="collapse" aria-labelledby="{{ category|slugify }}"
                        data-parent="#thingsToKnowAccordion">
                        <div class="card-body">
                            <ul>
                                {% for thing in things %}
                                <li>{{ thing.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



<!-- script -->

<!-- Location/map script -->
<script>
    function initMap() {
        let marketview = {lat: 53.18149206296739, lng: -1.8701353646774443 };
        let map = new google.maps.Map(
            document.getElementById('map'),
            {
                zoom: 15,
                center: marketview
            }
        );
        let marker = new google.maps.Marker({position: marketview, map: map})
    }
</script>
<script async src="https://maps.googleapis.com/maps/api/js?v=weekly
        &key={{GOOGLEMAPS_API_KEY}}&callback=initMap">
        </script>


        
{% endblock %}
