{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h1>Things To Do</h1>
            <p>The Peak District is packed full of different place to go and visit</p>
            <p>Here is a few of our top picks...</p>
        </div>
    </div>
</div>

<!-- Walks -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md -10 col-lg-10">
            <h3>Walks and Hikes</h3>
            <p>If you are a keen hiker and looking for some local trails to blaze, here are a couple right on our doorstep.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h4>Dragon's Back</h4>
            <p>Intermediate Hiking Tour. Good fitness required. Easily-accessible paths. Suitable for all skill levels.</p>
            <!-- img -->
            <!-- img -->
            <!-- img -->
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h4>Parkhouse Hill</h4>
            <p>Intermediate Hiking Tour. Good fitness required. Easily-accessible paths. Suitable for all skill levels.</p>
            <!-- img -->
            <!-- img -->
            <!-- img -->
        </div>
    </div>
</div>

<!-- Pubs/Resaurants -->

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h3>Pubs and Restauraunts</h3>
            <p>If eating and drinking are more your style, why not take a trip to some of the local pubs and restaurants</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h4>Ye Old Cheshire Cheese</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h4>The Pack Horse</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h4>The Royal Oak</h4>
        </div>
    </div>
</div>

<!-- Local Attractions -->

<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h3>Local Attractions</h3>
            <p>The Peak Distric has numerous visitor attractions to take a day trip to.</p>
            <p>Have a look at out top recommendations</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h4>Chatworth House</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h4>Bakewell</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <h4>Buxton</h4>
        </div>
    </div>
</div>

{% endblock %}